.navbar{
    background: #222222;
    padding: 0 18px;
}
.nav-one-text{
    padding-left: 12px;
}
.navbar-text{
    color: #ffffff;
}
.nav-link{
    color: #ffffff;
}
.icon{
    color: #ffffff;
    padding-left: 12px;
    padding-right: 5px;
}