<nav class="navbar navbar-size">
  <div class="col-2">
    <span class="navbar-text">
      eShop
    </span>
  </div>
  <div class="col-8">
      <div id="custom-search-input">
          <div class="input-group col-md-12">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">
                      <i class="fas fa-search"></i>
                  </button>
              </span>
          </div>
      </div>
  </div>
  <div class="col-2">
    <div class="shopping-cart">
      <button class="btn shopping-btn" type="button">
        <i class="fas fa-shopping-cart"></i>
      </button>
      <button class="btn shopping-btn" type="button">
          <i class="far fa-envelope"></i>
        </button>
        <button class="btn shopping-btn" type="button">
            <i class="fas fa-shopping-cart"></i>
          </button>
    </div>
  </div>
</nav>
