<div class="container">
    <div class="row">
        <div class="col">
            <h6>Free Shipping</h6>
            <p>For order from $25</p>
        </div>
        <div class="col">
            <h6>Support 21/7</h6>
            <p>Call us anytime</p>
        </div>
        <div class="col">
            <h6>100% Safety</h6>
            <p>Only secure payments</p>
        </div>
        <div class="col">
            <h6>Hot Offer</h6>
            <p>Discounts up to 50%</p>
        </div>
    </div>
</div>