<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <app-home-vertical-navbar></app-home-vertical-navbar>
            <img src="../assets/slider/web.png" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <app-home-vertical-navbar></app-home-vertical-navbar>
            <img src="../assets/slider/internet.png" alt="Random second slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <app-home-vertical-navbar></app-home-vertical-navbar>
            <img src="../assets/slider/it-solution.png" alt="Random third slide">
        </div>
        <app-home-vertical-navbar></app-home-vertical-navbar>
    </ng-template>
</ngb-carousel>